body {
    background-color: #eee;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
}

header, main, aside, footer {
    padding: 2rem;
    margin: 0.5rem;
    background-color: #fff;
    border-radius: 0.4rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    color: #000;
}

main, aside {
    height: 20em;
}

header {
    flex-basis: 100%;
}

main {
    flex-grow: 8;
    flex-shrink: 1;
    flex-basis: 40rem;
}

aside {
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 20em;
}

footer {
    flex-basis: 100%;
}