body {
    padding: 1em;
    
}
body header {
    border-bottom: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}
header h1 {
    text-transform: uppercase;
    font-family: sans-serif;
}
header nav ul {
    display: flex;
}

li {
    list-style-type: none;
    margin: 1em;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(0, 153, 0);
}