html{
    font-family: Helvetica, sans-serif;
}
body{
    padding: 2em;
}

a{
    text-decoration: none;
}
nav {
    border-bottom: 2px solid #000;
    display: inline-block;
}
h1{
    display: inline-block;
}
ul {
    margin-left: 2em;
    display: inline-block;
}

li {
    padding: 1em;
    display: inline-block;
}